<div class="pta-stats">
  {{#each stats as | stat key |}}
    <div class="pta-stat-wrap" data-pta-stat="{{key}}">

      {{!-- stat score pokeball --}}
      <div class="pta-score-wrap flexrow">
        <div class="pta-stat-label">{{stat.label.abbr}}</div>
        <div class="pta-score flexcol pta-m">
          {{#if ../isEditMode}}
            <input class="flex1" type="number" name="system.stats.{{key}}.value" value="{{stat.value}}">
          {{else}}
            <input class="flex1" type="number" disabled value="{{stat.total}}">
          {{/if}}
          <div class="flex1">{{numberFormat stat.mod sign=true decimals=0}}</div>
        </div>
      </div>

      {{!-- Skills list --}}
      {{#if (eq ../document.type 'character')}}
        <div class="pta-skills-wrap">
          {{#with key as | statKey |}}
            {{#each ../../skills as | skill key |}}
              {{#if (eq ../this skill.stat)}}
                <div class="pta-skill pta-s" data-pta-skill="{{key}}">
                  <a class="pta-talent" data-action="trainTalent">
                    <i class="fa-{{#if (eq skill.talent 0)}}regular{{else}}solid{{/if}} fa-circle{{#if (eq skill.talent 1)}}-half-stroke{{/if}}"></i>
                  </a>
                  <a class="pta-skill-label">
                    {{numberFormat skill.total sign=true}} {{skill.label.long}}
                  </a>
                </div>
              {{/if}}
            {{/each}}
          {{/with}}
        </div>
      {{/if}}

    </div>
  {{/each}}
</div>