<div>
    {{toFieldGroup schema 'type' value=system.type}}
    {{toFieldGroup schema 'class' value=system.class label='damage class'}}
    {{toFieldGroup schema 'accuracy' value=system.accuracy label='accuracy'}}
    {{toFieldGroup schema 'damage.formula' value=system.damage.formula label='Damage Formula'}}
    {{toFieldGroup schema 'uses.value' value=system.uses.value label='Remaining uses'}}
    {{toFieldGroup schema 'uses.max' value=system.uses.max label='Max uses'}}

    {{toFieldGroup schema 'range' value=system.range label='attack range'}}
    Effects
    {{toFieldGroup schema 'drain' value=system.drain label='drain'}}
</div>